package controllers

import (
	"net/http"

	"github.com/ccutch/congo/pkg/congo"
	"{{.}}/models"
)

type PostController struct{ congo.BaseController }

func (ctrl *PostController) Setup(app *congo.Application) {
	ctrl.Application = app
	app.WithEndpoint("POST /blog", false, ctrl.handleCreate)
	app.WithEndpoint("PUT /blog/{post}", false, ctrl.handleUpdate)
}

func (ctrl PostController) Handle(req *http.Request) congo.Controller {
	ctrl.Request = req
	return &ctrl
}

func (app *PostController) CurrentPost() (*models.Post, error) {
	return models.GetPost(app.Database, app.PathValue("post"))
}

func (app *PostController) SearchPosts() ([]*models.Post, error) {
	return models.SearchPosts(app.Database, app.PathValue("query"))
}

func (app PostController) handleCreate(w http.ResponseWriter, r *http.Request) {
	title, content := r.FormValue("title"), r.FormValue("content")
	post, err := models.NewPost(app.Database, title, content)
	if err != nil {
		app.Render(w, r, "error-message", err)
		return
	}
	app.Redirect(w, r, "/blog/"+post.ID)
}

func (app PostController) handleUpdate(w http.ResponseWriter, r *http.Request) {
	post, err := models.GetPost(app.Database, r.PathValue("post"))
	if err != nil {
		app.Render(w, r, "error-message", err)
		return
	}
	post.Title = r.FormValue("title")
	post.Content = r.FormValue("content")
	if err = post.Save(); err != nil {
		app.Render(w, r, "error-message", err)
		return
	}
	app.Redirect(w, r, "/blog/"+post.ID)
}
