<html data-theme="{{theme}}">

<head>
  <title>Signin to Congo Admin</title>
  {{template "includes"}}
</head>

<body class="bg-base-200">
  {{template "navbar" .}}
  <div class="hero min-h-screen">
    <div class="hero-content w-full">
      <div class="card bg-base-100 shadow w-full max-w-sm">
        <div class="card-body">
          <h2 class="card-title">
            Admin Signin
          </h2>
          {{template "congo-auth/signin-form" "admin"}}
        </div>
      </div>
    </div>
  </div>
</body>

</html>