<html data-theme="dim">

<head>
  <title>Welcome to Congo</title>
  <meta name="description" content="Connor + GoLang">
  {{template "includes"}}
</head>

<body hx-boost="true">
  {{with posts.CurrentPost}}
  <div class="flex flex-col gap-2 max-w-lg mx-auto my-12">
    <div class="flex gap-4">
      <a href="{{host}}/blog" class="btn btn-sm btn-ghost" hx-confirm="are you sure?">
        Blog Posts
      </a>
    </div>
    <div class="error"></div>
    <form hx-put="{{host}}/blog/{{.ID}}" hx-target="previous .error"
      class="flex flex-col gap-4 w-full ">
      <input value="{{.Title}}" required type="text" name="title" placeholder="Post Title" class="input input-bordered">
      <textarea required name="content" class="textarea textarea-bordered" placeholder="Post content"
        rows="20">{{.Content}}</textarea>
      <button class="btn btn-primary">Submit</button>
    </form>
  </div>
  {{end}}
</body>

</html>