package main

import (
	"cmp"
	"embed"
	"net/http"
	"os"

	"{{.}}/controllers"
	
	"github.com/ccutch/congo/pkg/congo"
	"github.com/ccutch/congo/pkg/congo_auth"
	"github.com/ccutch/congo/pkg/congo_boot"
	"github.com/ccutch/congo/pkg/congo_code"
	"github.com/ccutch/congo/pkg/congo_stat"
)

var (
	//go:embed all:migrations
	migrations embed.FS

	//go:embed all:templates
	templates embed.FS

	data = cmp.Or(os.Getenv("DATA_PATH"), os.TempDir()+"/launchpad")

	auth = congo_auth.InitCongoAuth(data)

	app = congo.NewApplication(
		congo.WithDatabase(congo.SetupDatabase(data, "app.db", migrations)),
		congo.WithController("auth", auth.Controller()),
		congo.WithController("posts", new(controllers.PostController)),
		congo.WithTemplates(templates))
)

func main() {
	auth := app.Use("auth").(*congo_auth.Controller)

	http.Handle("/{$}", app.Serve("homepage.html"))

	http.Handle("GET /blog", app.Serve("blog-posts.html"))
	http.Handle("GET /blog/write", app.Serve("write-post.html"))
	http.Handle("GET /blog/{post}", app.Serve("read-post.html"))
	http.Handle("GET /blog/{post}/edit", app.Serve("edit-post.html"))

	congo_boot.StartFromEnv(app, congo_stat.NewMonitor(app, auth))
}
