{{define "file-explorer"}}
<div class="card bg-base-200 shadow">
  <ul class="menu gap-1 p-2" hx-boost="true">

    {{if not (eq req.URL.Path "/")}}
    <li>
      <a href='/'>
        {{template "dir-icon" .}}
        ..
      </a>
    </li>
    {{end}}

    {{range coding.Files}}

    {{if .IsDir}}
    <li>
      <a href='/{{.Path}}'>
        {{template "dir-icon" .}}
        {{.Name}}
      </a>
    </li>
    {{else}}
    <li>
      <a href='/{{.Path}}' {{if eq .Path (req.URL.Path)}}class="active" {{end}}>
        {{template "file-icon" .}}
        {{.Name}}
      </a>
    </li>
    {{end}}

    {{else}}

    {{with coding.CurrentFile }}
    <div id="file-content" class="rounded-none py-2 bg-transparent text-base-content mockup-code w-full overflow-x-auto">
      {{range $i, $line := .Lines}}
      <pre data-prefix="{{$i}}"><code>{{$line}}</code></pre>
      {{end}}
    </div>
    {{else}}
    <div class="p-8 opacity-80 text-center text-xl font-semibold">
      No Files
    </div>
    {{end}}

    {{end}}

  </ul>
</div>
{{end}}

{{define "dir-icon"}}
<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="h-4 w-4 stroke-current">
  <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z"></path>
</svg>
{{end}}

{{define "file-icon"}}
<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 384 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
  <path d="M320 464c8.8 0 16-7.2 16-16V160H256c-17.7 0-32-14.3-32-32V48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H320zM0 64C0 28.7 28.7 0 64 0H229.5c17 0 33.3 6.7 45.3 18.7l90.5 90.5c12 12 18.7 28.3 18.7 45.3V448c0 35.3-28.7 64-64 64H64c-35.3 0-64-28.7-64-64V64z"></path>
</svg>
{{end}}