{{define "hosts-manager"}}

{{if settings.Has "token"}}
{{template "hosts-manager/header"}}
{{else}}
{{template "missing-api-token" .}}
{{end}}

{{template "hosts-manager/content"}}

{{end}}

{{define "hosts-manager/header"}}
<div class="flex items-center gap-2">
  <input type="search" class="input input-sm input-bordered grow"
         autofocus placeholder="Search existing hosts">

  <button class="btn btn-sm btn-primary" onclick="launch_host_modal.showModal()">
    <svg stroke="currentColor" fill="none" stroke-width="2" viewBox="0 0 24 24" stroke-linecap="round"
         stroke-linejoin="round" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
      <path d="M4.5 16.5c-1.5 1.26-2 5-2 5s3.74-.5 5-2c.71-.84.7-2.13-.09-2.91a2.18 2.18 0 0 0-2.91-.09z"></path>
      <path d="m12 15-3-3a22 22 0 0 1 2-3.95A12.88 12.88 0 0 1 22 2c0 2.72-.78 7.5-6 11a22.35 22.35 0 0 1-4 2z">
      </path>
      <path d="M9 12H4s.55-3.03 2-4c1.62-1.08 5 0 5 0"></path>
      <path d="M12 15v5s3.03-.55 4-2c1.08-1.62 0-5 0-5"></path>
    </svg>
    Launch
  </button>

  {{template "host-launcher-menu" .}}
</div>
{{end}}


{{define "hosts-manager/content"}}
<div class="flex flex-col py-4 gap-4">

  {{range hosting.Servers}}
  <div class=" card bg-base-100 shadow p-3">

    <div class="flex justify-between p-3">
      <div class="flex flex-col">

        <span class="text-lg font-semibold">
          {{.Name}}
        </span>

        {{if .Domain}}
        <a target="_blank" href="https://{{.Domain}}" class="underline text-sm font-medium opacity-80">
          {{.Domain}}
        </a>
        {{else if .IpAddress}}
        <a target="_blank" href="http://{{.IpAddress}}:8080" class="underline text-sm font-medium opacity-80">
          {{.IpAddress}}
        </a>
        {{else if .Error}}
        <span class="text-sm font-medium opacity-80">
          Failed to start.
        </span>
        {{else}}
        <span class="text-sm font-medium opacity-80 animate-pulse">
          Starting...
        </span>
        {{end}}

      </div>


      <div class="flex items-center gap-2">

        {{if .Domain}}
        <a class="btn btn-sm btn-outline" target="_blank" href="https://{{.Domain}}">
          Visit Host
        </a>
        {{else if .IpAddress}}
        <button class="btn btn-sm btn-outline" onclick="document.querySelector('#host-input').value='{{.ID}}'; add_domain_modal.showModal()">
          Add Domain Name
        </button>
        {{end}}

        {{template "server-menu" .}}

      </div>
    </div>

    {{with .Error}}
    <div class="rounded-box p-4 border-2 font-medium border-error bg-error/10">
      {{.}}
    </div>
    {{end}}

  </div>
  {{end}}

</div>
{{end}}


{{define "missing-api-token"}}
<div class="alert border-2 border-error bg-error/10">
  <span class="font-medium text-base">
    Missing Digital Ocean Creds
  </span>
  <button class="ml-auto btn btn-sm btn-outline" onclick="set_api_token_modal.showModal()">
    Register API Key
  </button>
</div>
{{end}}


{{define "host-launcher-menu" }}
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em"
         xmlns="http://www.w3.org/2000/svg">
      <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3">
      </path>
    </svg>
  </div>
  <ul tabindex="0"
      class="dropdown-content menu gap-2 bg-neutral text-neutral-content rounded-box z-[1] min-w-52 shadow">
    <li><a target="_blank" href="/_coding/download" hx-boost="false">
        Download Binary
      </a></li>
    <li><a hx-post="/_settings/token" hx-confirm="Are you sure? This action cannot be undone.">
        Unset API Key
      </a></li>
  </ul>
</div>
{{end}}

{{define "server-menu"}}
<div class="dropdown dropdown-end">
  <div tabindex="0" role="button" class="btn btn-ghost">
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" height="1em" width="1em"
         xmlns="http://www.w3.org/2000/svg">
      <path
            d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3m5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3">
      </path>
    </svg>
  </div>
  <ul tabindex="0"
      class="dropdown-content menu menu-sm bg-neutral text-neutral-content rounded-box z-[1] min-w-52 shadow">
    <li><a hx-post="/_hosting/restart/{{.ID}}">
        Redeploy
      </a></li>
  </ul>
</div>
{{end}}