<html data-theme="{{theme}}">

<head>
  <title>Congo Whiteboard</title>
  {{template "includes"}}
  <script src="https://unpkg.com/react@18.2.0/umd/react.development.js"></script>
  <script src="https://unpkg.com/react-dom@18.2.0/umd/react-dom.development.js"></script>

  <script type="text/javascript" src="https://unpkg.com/@excalidraw/excalidraw/dist/excalidraw.production.min.js"></script>
</head>

<body class="bg-base-200">
  <div class="space-y-8 py-8 px-4 max-w-screen-xl w-full mx-auto h-full">
    {{template "navbar" "whiteboard"}}
    <div id="app"></div>
  </div>
  <script src="/public/whiteboard.js"></script>
</body>

</html>