<html data-theme='{{theme}}'>

<head>
  <title>Congo Workbench</title>
  {{template "includes"}}
</head>

<body>
  <div class="space-y-8 py-8 px-4 max-w-screen-xl w-full mx-auto">
    <div class="flex justify-between items-end">
      {{with auth.Current "developer"}}
      <h1 class="text-4xl font-semibold">
        Welcome back {{.Username}}!
      </h1>
      {{end}}
      <div class="flex items-center gap-4">
        <a target="_blank" href="/coder/?folder=/home/coder/project" class="btn btn-sm btn-primary">
          <img class="w-4" src="https://coder.com/favicon-light.png">
          Start Coding
        </a>
        {{template "theme-selector" "garden"}}
        <a class="btn btn-sm btn-outline btn-secondary w-max"
           hx-post="/_auth/logout/developer" hx-confirm="Are you sure you want to logout?">
          Logout
        </a>
      </div>
    </div>

    <div class="flex gap-12 ">
      <div class="flex flex-col w-full">
        <!-- TODO: Code explorer -->
      </div>
      <div class="flex flex-col w-full">
        {{if not (settings.Has "token")}}
        <div class="alert alert-error">
          <span class="font-medium">
            Missing Digital Ocean Creds
          </span>
          <button class="ml-auto btn btn-sm btn-outline" onclick="set_api_token_modal.showModal()">
            Add API Key
          </button>
        </div>
        {{else}}
        <button hx-post="/_settings/token" class="btn btn-primary">Unset API Key</button>
        {{end}}
      </div>
    </div>
  </div>
  {{template "modals/set-api-token" .}}
</body>

</html>