package main

import (
	"cmp"
	"embed"
	"net/http"
	"os"

	"{{.}}/controllers"
	"github.com/ccutch/congo/pkg/congo"
	"github.com/ccutch/congo/pkg/monitoring"
)

var (
	//go:embed all:migrations
	migrations embed.FS

	//go:embed all:templates
	templates embed.FS

	port = cmp.Or(os.Getenv("PORT"), "5000")
	path = cmp.Or(os.Getenv("DATA_PATH"), os.TempDir()+"/congo-data")
	db   = congo.SetupDatabase(path, "database.sqlite", migrations)

	app = congo.NewApplication(
		congo.WithDatabase(db),
		congo.WithController("posts", &controllers.PostController{}),
		congo.WithTemplates(templates),
	)
)

func main() {
	go monitoring.Start(app)

	http.Handle("/{$}", app.Serve("homepage.html"))
	// http.Handle("/_/", app.GitServer())

	http.Handle("GET /blog", app.Serve("blog-posts.html"))
	http.Handle("GET /blog/write", app.Serve("write-post.html"))
	http.Handle("GET /blog/{post}", app.Serve("read-post.html"))
	http.Handle("GET /blog/{post}/edit", app.Serve("edit-post.html"))

	app.Start("0.0.0.0:"+port)
}
