<html data-theme="{{theme}}">

<head>
  <title>Welcome to Congo Workbench</title>
  {{template "includes"}}
</head>

<body class="bg-base-300">
  {{template "navbar"}}

  <div class="flex flex-col items-center gap-12 py-20">

    <h1 class="text-4xl font-semibold">
      Welcome Back Developer!
    </h1>

    <div class="card bg-base-100 shadow w-full max-w-sm p-8">
      <h2 class="card-title mb-4 text-xl">
        Login to Access your Code.
      </h2>

      <div class="space-y-3">
        <div class="error"></div>

        <form class="flex flex-col gap-y-4 mb-0"
              hx-post="{{host}}/_auth/signin"
              hx-target="previous .error">

          <input class="input input-bordered"
                 required name="username" type="text"
                 placeholder="Username or email">

          <input class="input input-bordered"
                 required name="password" type="password"
                 placeholder="A unique password">

          <button class="btn btn-primary">
            Signin
          </button>

        </form>
      </div>

      <a hx-boost="true" href="{{host}}" class="btn btn-ghost btn-sm mt-4">
        Need an Account?
      </a>
    </div>

  </div>
</body>

</html>