{{define "search-users"}}
<input name="query" type="search" class="input input-bordered w-full" placeholder="Search All Users"
       hx-get="{{host}}/admin" hx-trigger="input changed delay:200ms, search"
       hx-select="#admin-results" hx-target="#admin-results" hx-swap="outerHTML">

<div class="grid grid-cols-3 gap-4 w-full" id="admin-results">
  {{range hosting.UserGrid 3}}
  <div class="grid gap-4">
    {{range .}}
    <div class="card bg-base-300 shadow w-full h-min">
      <div class="card-body pb-2">
        <h3 class="card-title">
          <div class="avatar">
            <div class="w-8 p-1 rounded-full bg-base-100">
              <img src="https://robohash.org/{{.ID}}">
            </div>
          </div>
          {{.Name}}
        </h3>
      </div>
      {{with hosting.HostsFor .ID}}
      <ul class="menu">
        {{range .}}
        <li>
          <a href="{{host}}/host/{{.ID}}">
            {{.Name}}
          </a>
        </li>
        {{end}}
      </ul>
      {{else}}
      <div class="card-body">
        <p class="mt-2 font-semibold text-lg text-center">
          No Hosts
        </p>
      </div>
      {{end}}
    </div>
    {{end}}
  </div>
  {{else}}
  <div class="w-full flex items-center justify-center p-20 col-span-3">
    <h2 class="text-4xl font-bold text-center opacity-80">
      No Users Found
    </h2>
  </div>
  {{end}}
</div>
{{end}}