<html data-theme="{{theme}}">

<head>
  <title>Congo - Page Not Found</title>
  {{template "includes"}}
</head>

<body class="bg-base-200">
  <div class="hero min-h-screen">
    <div class="hero-content flex-col">
      <h2 class="text-4xl font-bold">
        Page Not Found
      </h2>
      <p class="text-2xl font-semibold opacity-80">
        The page you are looking for does not exist.
      </p>

      <a hx-boost="true" href="{{host}}/" class="button btn btn-primary">
        Go Home
      </a>
    </div>
  </div>
</body>

</html>