{{define "congo-deps"}}

{{/* Tailwind */}}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/daisyui@4.12.2/dist/full.min.css">
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.4.6/dist/base.min.css">
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.4.6/dist/components.min.css">
<link rel="stylesheet" href="https://unpkg.com/@tailwindcss/typography@0.1.2/dist/typography.min.css">
<link rel="stylesheet" href="https://unpkg.com/tailwindcss@1.4.6/dist/utilities.min.css">
<script src="https://cdn.tailwindcss.com"></script>

{{/* HTMX and Hyperscript */}}
<script src="https://unpkg.com/htmx.org@2.0.0"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.12"></script>

{{end}}