{{define "contact-selector"}}
<div class="flex flex-col gap-4 bg-base-200 w-full max-w-xs oveflow-hidden rounded-box">
  <div class="h-full overflow-y-auto">
    <ul class="menu menu-lg gap-2 w-full" hx-boost="true">
      {{with chatting.Mailbox}}
      <li>
        <a href="{{host}}/me" {{if eq req.URL.Path "/me" }}class="active" {{end}}>
          My Mailbox
        </a>
      </li>
      {{end}}

      {{range chatting.Mailboxes}}
      <li>
        <a href="{{host}}/{{.ID}}" {{if eq req.URL.Path (path .ID)}}class="active" {{end}}>
          <div class="avatar">
            <div class="h-8 w-8 rounded-full bg-base-100">
              <img src="https://robohash.org/{{.ID}}" alt="{{.Name}}">
            </div>
          </div>
          {{with .Owner}}
          {{.Name}}
          {{if eq .Role "chatbot"}}
          <div class="badge badge-neutral badge-sm">
            AI Chatbot
          </div>
          {{end}}
          {{if eq .Role "anon"}}
          <div class="badge badge-warning badge-sm">
            Anonymous
          </div>
          {{end}}
          {{else}}
          {{.Name}}
          {{end}}
        </a>
      </li>
      {{else}}
      <div class="p-6 flex flex-col gap-2 text-center text-lg font-semibold">
        No Contacts
      </div>
      {{end}}
    </ul>
  </div>

  <ul class="menu menu-lg gap-2 w-full" hx-boost="true">
    <button class="btn btn-primary mt-auto" onclick="create_agent_modal.showModal()">
      New Agent
    </button>

    <button class="btn btn-ghost"
            hx-get="{{host}}/invite" hx-target="body" hx-swap="beforeend"
            hx-on::after-request="window.navigator.clipboard.writeText(window.location.origin+'/signup')">
      Invite Users
    </button>
  </ul>
</div>
{{end}}