<html data-theme="{{theme}}">

<head>
  <title>Congo Launchpad</title>
  {{template "includes"}}
</head>

<body class="bg-base-300">
  <div class="flex items-center justify-between mx-auto w-full max-w-screen-xl p-8 gap-4 min-h-screen">
    <div class="flex flex-col gap-3 w-full max-w-xl">
      <h2 class="text-3xl font-bold">
        Welcome Aboard
      </h2>
      <p class="text-xl font-semibold opacity-80 leading-relaxed">
        Get started by creating an admin account. This account will have advanced permissions
        to allow you to setup this launchpad. You can also for this app by using create-congo-app,
        and choosing the "launchpad" template option.
      </p>
    </div>

    <div class="card bg-base-100 shadow w-full max-w-md">
      <div class="card-body">
        <h1 class="card-title">
          Create an Admin Account
        </h1>
        {{template "congo-auth/signup-form" "admin"}}
      </div>
    </div>
  </div>
</body>

</html>